<!DOCTYPE html>
<html ng-app="myApp" ng-controller="myControl">
<head>
	<title>AngularJS 过滤器 </title>
	<meta charset="utf-8">
	<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
	表达式中添加过滤器过滤器可以通过一个管道字符（|）和一个过滤器添加到表达式中。<br/>
	
	[1]uppercase 过滤器将字符串格式化为大写
	<p>{{names[0]|uppercase}}</p>

	[2]lowercase 过滤器将字符串格式化为小写
	<p>{{names[1]|lowercase}}</p>

	[3]currency 过滤器将数字格式化为货币格式
	<p>{{price|currency}}</p>

	[4]orderBy 过滤器根据表达式排列数组
	<ul>
		<li ng-repeat="x in infos|orderBy:'age' ">
		{{x.name+","+x.age}}
		</li>
	</ul>
	[5]filter 过滤器从数组中选择一个子集,该过滤器后跟一个冒号和一个模型名称
	<p>过滤器test，根据输入框内容进行过滤：<input type="text" ng-model="test"></p>
	<ul>
	  <li ng-repeat="x in infos | filter:test | orderBy:'age'">
	    {{ (x.name | uppercase) + ', ' + x.age}}
	  </li>
	</ul>


	<script>
	var app=angular.module('myApp',[]);
	app.controller('myControl',function($scope){
		$scope.names=['tom','JIM','rom'];

		$scope.price=500;

		$scope.infos=[{name:"aa",age:12},{name:"bb",age:11},{name:"cc",age:15}];
	});
	</script>
</body>
</html>